body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-fluid {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

.hero-banner {
  background-image: url(/assets/img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  padding: 10px 0 250px;
}

.content {
  padding: 90px 0 90px;
}
.content__title h1 {
  font-size: 60px;
  line-height: 100px;
}
.content__title h3 {
  font-size: 25px;
  line-height: 100px;
}
.content__title button {
  width: 200px;
  font-weight: bold;
  color: #fff;
}

.fixed-top {
  top: 0%;
  left: 1%;
  background-color: #212529;
  height: 80px;
}

.service__title h1 {
  font-size: 40px;
}
.service__text p {
  font-size: 20px;
  color: grey;
}
.service__desc.icon i {
  font-size: 60px;
  background-color: yellow;
  height: 100px;
  width: 100px;
  padding-top: 22px;
  border-radius: 50%;
  color: darkgray;
}
.service__desc.title h1 {
  font-size: 30px;
}

.portfolio {
  background-color: aliceblue;
}
.portfolio__title {
  font-size: 40px;
}
.portfolio__text p {
  font-size: 20px;
  color: grey;
}

.about-us__title h1 {
  font-size: 40px;
}
.about-us__text p {
  font-size: 20px;
  color: grey;
}

.team__title h1 {
  font-size: 40px;
}
.team__text p {
  font-size: 20px;
  color: grey;
}
.team__social-link a {
  padding: 8px 15px;
  margin: 10px;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: black;
}
.team__social-link a i {
  color: #fff;
}

.contact {
  background-image: url(/assets/img/map-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
}
.contact__title h1 {
  font-size: 40px;
}
.contact__text p {
  font-size: 20px;
  color: grey;
}
.contact__btn button {
  background-color: #ffc800 !important;
  font-size: 30px;
  font-weight: bold;
  padding: 15px 40px;
}

.footer {
  font-size: 17px;
}
.footer__social-link a {
  padding: 8px 15px;
  margin: 10px;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: black;
}
.footer__social-link a i {
  color: #fff;
}

.timeline {
  padding: 50px 0;
  position: relative;
}

.timeline-nodes {
  padding-bottom: 25px;
  position: relative;
}

.timeline-nodes:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.timeline h3, .timeline p {
  padding: 5px 15px;
}

.timeline h3 {
  font-weight: lighter;
  background: var(--blue);
}

.timeline p, .timeline time {
  color: var(--blue);
}

.timeline::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  border-left: 2px dashed var(--blue);
  height: 100%;
  z-index: 1;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.timeline-content {
  border: 1px solid var(--blue);
  position: relative;
  border-radius: 0 0 10px 10px;
  -webkit-box-shadow: 0px 3px 25px 0px rgba(10, 55, 90, 0.2);
          box-shadow: 0px 3px 25px 0px rgba(10, 55, 90, 0.2);
}

.timeline-nodes:nth-child(odd) h3,
.timeline-nodes:nth-child(odd) p {
  text-align: right;
}

.timeline-nodes:nth-child(odd) .timeline-date {
  text-align: left;
}

.timeline-nodes:nth-child(even) .timeline-date {
  text-align: right;
}

.timeline-nodes:nth-child(odd) .timeline-content::after {
  content: "";
  position: absolute;
  top: 5%;
  left: 100%;
  width: 0;
  border-left: 10px solid var(--blue);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.timeline-nodes:nth-child(even) .timeline-content::after {
  content: "";
  position: absolute;
  top: 5%;
  right: 100%;
  width: 0;
  border-right: 10px solid var(--blue);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.timeline-image {
  position: relative;
  z-index: 100;
}

.timeline-image::before {
  content: "";
  width: 120px;
  height: 120px;
  border: 4px solid blue;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 1;
}

.timeline-image img {
  position: relative;
  z-index: 100;
}

/*small device style*/
@media (max-width: 767px) {
  .timeline-nodes:nth-child(odd) h3,
.timeline-nodes:nth-child(odd) p {
    text-align: left;
  }

  .timeline-nodes:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .timeline::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 4%;
    width: 0;
    border-left: 2px dashed var(--blue);
    height: 100%;
    z-index: 1;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .timeline h3 {
    font-size: 1.7rem;
  }

  .timeline p {
    font-size: 14px;
  }

  .timeline-image {
    position: absolute;
    left: 0%;
    top: 60px;
    /*transform: translateX(-50%;);*/
  }

  .timeline-nodes:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    top: 5%;
    left: auto;
    right: 100%;
    width: 0;
    border-left: 0;
    border-right: 10px solid var(--blue);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }

  .timeline-nodes:nth-child(even) .timeline-content::after {
    content: "";
    position: absolute;
    top: 5%;
    right: 100%;
    width: 0;
    border-right: 10px solid var(--blue);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }

  .timeline-nodes:nth-child(even) .timeline-date {
    text-align: left;
  }

  .timeline-image::before {
    width: 65px;
    height: 65px;
  }
}
/*extra small device style */
@media (max-width: 575px) {
  .timeline::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 3%;
  }

  .timeline-image {
    position: absolute;
    left: -5%;
  }

  .timeline-image::before {
    width: 60px;
    height: 60px;
  }
}