.content{
    padding: 90px 0 90px;
    &__title{
        h1{
            font-size: 60px;
            line-height: 100px;
        }
        h3{
            font-size: 25px;
            line-height: 100px;
        }
        button{
            width: 200px;
            font-weight: bold;
            color: #fff;
        }
    }
}